@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 33% 23%;
    --foreground: 204 14% 90%;
    
    --card: 210 33% 23%;
    --card-foreground: 204 14% 90%;
    
    --popover: 210 33% 23%;
    --popover-foreground: 204 14% 90%;
    
    --primary: 210 25% 42%;
    --primary-foreground: 204 14% 90%;
    
    --secondary: 204 18% 68%;
    --secondary-foreground: 210 33% 23%;
    
    --muted: 204 18% 68%;
    --muted-foreground: 210 33% 23%;
    
    --accent: 204 14% 90%;
    --accent-foreground: 210 33% 23%;
    
    --destructive: 0 84% 60%;
    --destructive-foreground: 204 14% 90%;
    
    --border: 204 18% 68%;
    --input: 204 18% 68%;
    --ring: 204 18% 68%;
    
    --radius: 0.5rem;
  }

  .dark {
    --background: 210 33% 23%;
    --foreground: 204 14% 90%;
    
    --card: 210 33% 23%;
    --card-foreground: 204 14% 90%;
    
    --popover: 210 33% 23%;
    --popover-foreground: 204 14% 90%;
    
    --primary: 210 25% 42%;
    --primary-foreground: 204 14% 90%;
    
    --secondary: 204 18% 68%;
    --secondary-foreground: 210 33% 23%;
    
    --muted: 204 18% 68%;
    --muted-foreground: 210 33% 23%;
    
    --accent: 204 14% 90%;
    --accent-foreground: 210 33% 23%;
    
    --destructive: 0 84% 60%;
    --destructive-foreground: 204 14% 90%;
    
    --border: 204 18% 68%;
    --input: 204 18% 68%;
    --ring: 204 18% 68%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}